<form novalidate name="mapContainer" class="mapContainer">
  <div id="theMap"></div>
  <div class="directions" ng-show="directions || directions==undefined">
    <label>Origin:</label>
    <input type="text" ng-model="origin" required>
    <label>Destination:</label>
    <input ng-model="endPoint" type="text" disabled>
    <button class="getDirections" ng-click="getDirections()" ng-disabled="mapContainer.$invalid">Get Directions</button>
    <button class="clearDirections alert" ng-click="clearDirections()" ng-disabled="mapContainer.$invalid">Clear</button>
    <div id="directionsList"></div>
  </div>
</form>
